<div *ngIf="vacio">
  <span style="color:red;">No deben haber campos vacios</span>
</div>

{{usuario.nombre}}


<div class="container">
	<form>
		<div class="form-group">
			<div *ngIf="nombreEmpty">
				<label for=text style="color:red;"> *El campo Nombre es requerido</label>
			</div>
			
			<label for="text">Nombre:</label>
			<input type="text" class="form-control" placeholder="Ingrese su nombre"
				[(ngModel)]="usuario.nombre"
				[ngModelOptions]="{standalone: true}"
				value={{usuario.nombre}}
			>
		</div>
		<div class="form-group">
			<div *ngIf="apellidoEmpty">
				<label for=text style="color:red;"> *El campo Apellido es requerido</label>
			</div>
			<label for="text">Apellido:</label>
			<input type="text" class="form-control" placeholder="Ingrese su apellido"
			[(ngModel)]="usuario.apellido"
			[ngModelOptions]="{standalone: true}" 
 			value={{usuario.apellido}}
			>
		</div>

		<div class="form-group">
			<div *ngIf="fechaEmpty">
				<label for=text style="color:red;"> *El campo Fecha de Nacimiento es requerido</label>
			</div>
			<label for="text">Fecha De Nacimiento:</label>
			<input type="text" class="form-control" placeholder="Ingrese su Fecha de Nacimiento"
			disabled="true" 
			[(ngModel)]="usuario.fechacNacimiento"
			[ngModelOptions]="{standalone: true}"
			value={{usuario.fechac_nacimiento}}>

			<div class="form-group form-inline form-control col-lg-8 col-md-8 col-sm-8">
				<label for="text" class="col-lg-1 col-md1 col-sm1">Año:</label>
				<select type="text" 
				(change)="onSelectYear($event.target.value)" class="form-control col-lg-2 col-md2 col-sm2" >
					<option  *ngFor="let year of years">{{year}}</option>
				</select>
				<label for="text" class="col-lg-1 col-md1 col-sm1">Mes:</label>
				<select type="text" 
				(change)="onSelectMonth($event.target.value)" class="form-control col-lg-2 col-md2 col-sm2">
					<option  *ngFor="let month of months">{{month}}</option>
				</select>
				<label for="text" class="col-lg-1 col-md1 col-sm1">Dia:</label>
				<select type="text" 
				 (change)="onSelectDay($event.target.value)" class="form-control col-lg-2 col-md2 col-sm2">
					<option  *ngFor="let day of days" onClick="alert('day')">{{day}}</option>
				</select>


			</div>
 
			
		</div>
		
		<div class="form-group">
			<div *ngIf="edadEmpty">
				<label for=text style="color:red;"> *El campo Edad es requerido</label>
			</div>
			<label for="text">Edad:</label>
			<input type="text" class="form-control" placeholder="Ingrese su Edad"
			[(ngModel)]="usuario.edad"
			[ngModelOptions]="{standalone: true}"
			value={{usuario.edad}}>
		</div>
		<div class="form-group">
			<div *ngIf="generoEmpty">
				<label for=text style="color:red;"> *El campo Genero es requerido</label>
			</div>
			<label for="text">Genero:</label>
			<div class="form-group">
				<div class="form-check-inline">
					<label class="form-check-label" for="radio1">
						<input type="radio" name="optradio" id="radio1" checked="true" value="M" [(ngModel)]="usuario.genero">Masculino
					</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label" for="radio2">
						<input type="radio" name="optradio" id="radio2" value="F" [(ngModel)]="usuario.genero">Femenino
					</label>
				</div>

			</div>
		</div>

		<div class="form-group">
			<div *ngIf="ciudadEmpty">
				<label for=text style="color:red;"> *El campo Ciudad es requerido</label>
			</div>
			<label for="text">Ciudad:</label>
			
			<!--input type="text" class="form-control" placeholder="Ingrese su Ciudad"
			[(ngModel)]="usuario.ciudad"
			[ngModelOptions]="{standalone: true}"
			value={{usuario.ciudad}}-->

			<select type="text" class="form-control" 
				[(ngModel)]="usuario.ciudad"
				[ngModelOptions]="{standalone: true}"
				value={{usuario.ciudad}}>
					<option *ngFor="let i of Ciudades">{{i}}</option>
			</select>

		</div>
		

		<div class="form-group">
			<div *ngIf="emailEmpty">
				<label for=text style="color:red;"> *El campo Email es requerido</label>
			</div>
			<label for="email">Email:</label>
			<input type="text" class="form-control" placeholder="Ingrese su correo electronico"
			[(ngModel)]="usuario.email"
			[ngModelOptions]="{standalone: true}"
			value={{usuario.email}}>
		</div>
		<div class="form-group">
			<div *ngIf="loginEmpty">
				<label for=text style="color:red;"> *El campo Login es requerido</label>
			</div>
			<label for="text">Login:</label>
			<input type="text" class="form-control" placeholder="Ingrese su Login"
			[(ngModel)]="usuario.login"
			[ngModelOptions]="{standalone: true}"
			value={{usuario.login}}>
		</div>
		<div class="form-group">
			<div *ngIf="passwordEmpty">
				<label for=text style="color:red;"> *El campo Password es requerido</label>
			</div>
			<label for="text">Password:</label>
			<input type="password" class="form-control" placeholder="Ingrese su password"
			[(ngModel)]="usuario.password"
			[ngModelOptions]="{standalone: true}"
			value={{usuario.password}}>
		</div>
		
		<button class="btn btn-info" (click)=updateUser()>Actualizar</button>
	</form>
</div>

