<div class="container">
	<div class="page-header margin-none">
		<h2>DETALLE DE USUARIO</h2>
	</div>
	<div class="col-lg-12 col-sm-12 col-md-12" >
		<div class="bg-grey">
			
			<ul><strong>id:</strong> {{user.usuario.id}}</ul>
			<ul> <strong>Nombre: </strong> {{user.usuario.nombre }}</ul>
			<ul> <strong>Apellido:</strong> {{user.usuario.apellido}}</ul>
			<ul> <strong>Fecha de Nacimiento: </strong>			{{user.usuario.fechac_nacimiento}}</ul>
			<ul> <strong>Edad:</strong> {{user.usuario.edad}}</ul>
			<ul> <strong>Genero:</strong> {{user.usuario.genero}}</ul>
			<ul> <strong>Ciudad:</strong> {{user.usuario.ciudad}}</ul>
			<ul> <strong>Email:</strong> {{user.usuario.email}}</ul>
			<ul> <strong>Login: </strong>{{user.usuario.login}}</ul>
			<ul> <strong>password:</strong> {{user.usuario.password}}</ul>
		</div>
	</div>
		<div class="mModal-footer">

			<div class="left">
				<button id="viewButton" class="btn btn-primary" 
				routerLink="/view">
				 Ver Usuarios
				</button>
			</div>

			<div class="rigth">
				<button class="btn btn-info" routerLink="/edit/{{user.usuario.id}}">
					Editar   
				</button>
				<button type="button" class="btn btn-danger" data-toggle="	modal" data-target="#DeleteUserModal"
					(click)="setUserId(user.usuario.id)">
					Eliminar Usuario
				</button>

		</div>


	</div>

<div class="modal" id="DeleteUserModal">
	<div class="modal-dialog">
		<div class="modal-content">


			<div class="modal-header">
				<h4 class="modal-title">Alerta</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>


			<div class="modal-body">
				<h5>¿ Desea Eliminar este usuario ?</h5>
			</div>


			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal"
				(click)="deleteUser()">
				Aceptar
			</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
		</div>

	</div>
</div>
</div>



