<div class="main container">
	<div class="col-md-2 col lg-4" ></div>

	<div class="col-md-8 col lg-6">

	<!--
	 *nombre*.

		 *apellido*.

		 *fechacNacimiento*.

		 *edad*.

		 *genero*.

		 *ciudad*.

		 *email*.

		 *login*.

		 *password*
	-->

		<form>
			<div class="form-group">
				<label for="text">Nombre:</label>
				<input [(ngModel)]="userData.nombre" 
					type="text" class="form-control" 
					[ngModelOptions]="{standalone: true}"
				>
			</div>

			<div class="form-group">

				<label for="text">Apellido:</label>

				<input type="text" class="form-control" 
					[(ngModel)]="userData.apellido" 
					[ngModelOptions]="{standalone: true}"
				>
			</div>
			<div class="form-group">
				<label for="text">Fecha de Nacimiento:</label>
				<input type="text" class="form-control" 
					[(ngModel)]="userData.fechacNacimiento"
					[ngModelOptions]="{standalone: true}"
				>
			</div>

			<div class="form-group">
				<label for="text">Edad:</label>
				<input type="text" class="form-control" 
					[(ngModel)]="userData.edad"
					[ngModelOptions]="{standalone: true}"
				>
			</div>

			<div class="form-group">
				<label for="text">Genero:</label>
				<input type="text" class="form-control" 
					[(ngModel)]="userData.genero"
					[ngModelOptions]="{standalone: true}"
				>
			</div>

			<div class="form-group">
				<label for="text">Ciudad:</label>
				<input type="text" class="form-control" 
					[(ngModel)]="userData.ciudad"
					[ngModelOptions]="{standalone: true}"
				>
			</div>

			<div class="form-group">
				<label for="email">email:</label>
				<input type="email" class="form-control" 
					[(ngModel)]="userData.email"
					[ngModelOptions]="{standalone: true}"
					>
			</div>
			<div class="form-group">
				<label for="email">Login:</label>
				<input type="text" class="form-control"
					[(ngModel)]="userData.login"
					[ngModelOptions]="{standalone: true}"
				>
			</div>
			<div class="form-group">
				<label for="pwd">Password:</label>
				<input type="password" class="form-control" 
					[(ngModel)]="userData.password"
					[ngModelOptions]="{standalone: true}"
				>
			</div>
			<!--div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" type="checkbox"> Remember me
				</label>
			</div-->
			<button (click)="addUser()" class="btn btn-primary">Guardar</button>
		</form>
	</div>
	<div class="col-md-2 col col-lg-2"></div>
</div>




