<div class="main container">
	<div class="col-md-2 col lg-4" ></div>

	<div class="col-md-8 col lg-6">

		<form>
			<div class="form-group">
				<label for="text">Nombre:</label>
				<input [(ngModel)]="userData.nombre" 
				type="text" class="form-control"
				placeholder="Ingrese su nombre" required
				[ngModelOptions]="{standalone: true}"
				>
			</div>

			<div class="form-group">

				<label for="text">Apellido:</label>

				<input type="text" class="form-control" 
				[(ngModel)]="userData.apellido" 
				[ngModelOptions]="{standalone: true}"
				placeholder="Ingrese su apellido" required
				>
			</div>
			<div class="form-group">
				<label for="text">Fecha de Nacimiento:</label>
				<input type="text"  
				[(ngModel)]="userData.fechacNacimiento"
				[ngModelOptions]="{standalone: true}"
				class="span2" id="dp1" required
				>
				<script>
					$(function(){
						$('#dp1').fdatepicker({
							initialDate: '1990-01-01',
							format: 'yyyy-mm-dd',
							disableDblClickSelection: true,
							leftArrow:'<<',
							rightArrow:'>>',
							closeIcon:'X',
							closeButton: true
						});
					});
				</script>
			</div>

			<div class="form-group">
				<label for="text">Edad:</label>
				<input type="text" class="form-control" 
				[(ngModel)]="userData.edad"
				[ngModelOptions]="{standalone: true}"
				>
			</div>

			<label for="text">Genero:</label><br>
			<div class="form-group">
				<div class="form-check-inline">
					<label class="form-check-label" for="radio1">
						<input type="radio" class="form-check-input" id="radio1" name="optradio" value="M" checked  [(ngModel)]="userData.genero">Masculino
					</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label" for="radio2">
						<input type="radio" class="form-check-input" id="radio2" name="optradio" value="F"  [(ngModel)]="userData.genero">Femenino
					</label>
				</div>
			</div>

			

			<div class="form-group">
				<label for="text">Ciudad:</label>
				<select type="text" class="form-control" 
				[(ngModel)]="userData.ciudad"
				[ngModelOptions]="{standalone: true}"
				>
				<option value="Arauca">Arauca</option>
				<option value="Armenia">Armenia</option>
				<option value="Barranquilla">Barranquilla</option>
				<option value="Bogotá">Bogotá</option>
				<option value="Bucaramanga">Bucaramanga</option>
				<option value="Cali">Cali</option>
				<option value="Cúcuta">Cúcuta</option>
				<option value="Florencia">Florencia</option>
				<option value="Ibagué">Ibagué</option>
				<option value="Ipiales">Ipiales</option>
				<option value="Leticia">Leticia</option>
				<option value="Manizales">Manizales</option>
				<option value="Medellín">Medellín</option>
				<option value="Mitú">Mitú</option>
				<option value="Mocoa">Mocoa</option>
				<option value="Montería">Montería</option>
				<option value="Neiva">Neiva</option>
				<option value="Pasto">Pasto</option>
				<option value="Pereira">Pereira</option>
				<option value="Popayán">Popayán</option>
				<option value="Puerto Carreño">Puerto Carreño</option>
				<option value="Puerto Inírida">Puerto Inírida</option>
				<option value="Quibdó">Quibdó</option>
				<option value="Riohacha">Riohacha</option>
				<option value="San Andrés">San Andrés</option>
				<option value="San José del Guaviare">San José del Guaviare</option>
				<option value="Santa Marta">Santa Marta</option>
				<option value="Sincelejo">Sincelejo</option>
				<option value="Tunja">Tunja</option>
				<option value="Valledupar">Valledupar</option>
				<option value="Villavicencio">Villavicencio</option>
				<option value="Yopal">Yopal</option>
			</select>
		</div>

		<div class="form-group">
			<label for="email">email:</label>
			<input type="email" class="form-control" 
			[(ngModel)]="userData.email"
			[ngModelOptions]="{standalone: true}"
			placeholder="Ingrese su correo electronico" required
			>
		</div>
		<div class="form-group">
			<label for="email">Login:</label>
			<input type="text" class="form-control"
			[(ngModel)]="userData.login"
			[ngModelOptions]="{standalone: true}"
			placeholder="Login" required
			>
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" 
			[(ngModel)]="userData.password"
			[ngModelOptions]="{standalone: true}"
			placeholder="password" required
			>
		</div>
			<!--div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" type="checkbox"> Remember me
				</label>
			</div-->
			<button (click)="addUser()" class="btn btn-primary">Guardar</button>
		</form>
	</div>
	<div class="col-md-2 col col-lg-2"></div>
</div>




